
header .logo-link img {
	border-radius: 30px;
}

@media screen and (min-width: 700px) {
	header {
		padding: 20px 20px;
	}
}
.post h1 {
	font-size: 24px;
}
.post h2 {
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 20px;
}
.post h3 {
	margin-top: 40px;
	font-size: 18px;
	font-weight: normal;
}
.post-title {
	font-size: 18px !important;
	font-weight: bold;
	/*text-shadow: 0px 0px 1px #c0c0c0;*/
}

/*.post-content h3:before {
    content: "+";
    color: #42b983;
    position: absolute;
    left: -0.7em;
    top: -4px;
    font-size: 1.2em;
}*/

.post-content img {
	border-top: 2px solid #3aa373;
	box-shadow: 1px 1px 5px 0px #ccc;
}

.wrap .container {
	padding-left: 18px;
	padding-right: 18px;
}

.post-content p,
.post-content ul, .post-content ol {
	color: #7f8c8d;
}

.post-block .post-info {
    color: #aaaaaa;
    font-size: smaller;
    margin: 1.2em 0;
}