
header .logo-link img {
	border-radius: 30px;
}

@media screen and (min-width: 700px) {
	header {
		padding: 20px 20px;
	}
}

.post-title {
	font-weight: normal;
	text-shadow: 0px 0px 1px #c0c0c0;
}

.post h3 {
	font-size: 18px；
}