$accentColor = #673ab7 // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

.home
  .hero
    img
      max-height 240px
      transition all .25s
      @media (max-width 719px)
        max-height 140px
    h1
      font-weight 100
      transition all .25s
      @media (max-width 719px)
        font-size 32px
    .description
      font-weight 100
      transition all .25s
      @media (max-width 719px)
        font-size 18px

.navbar
  .site-name
    font-weight 100
.content
  h1, h2
    font-weight 100
  code
    word-break: break-all
